*,*:before, *:after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    /* background: -webkit-linear-gradient(left, #7579ff, #b224ef); */
    background:lightgreen;
}

input, button{
    /* border:none; */
    /* outline: none; */
    background: none;
    border-radius: 10px;

}

.container{
    overflow: hidden;
    position: relative;
    width:600px;
    height: 650px;
    /* background: #fff; */
    border-radius: 40px;
    background: lightyellow;
}

.form{
    position: relative;
    width:640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out,-webkit-transform 1.2s ease-in-out;

}

.new{
    text-align: right;
    margin-right: 50px;
    margin-top: 30px;
}
.new h5{
    display: inline-block;
}
.new #up:hover{
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}


.form h2{
    width:100%;
    font-size: 30px;
    text-align: center;
}
label{
    display: block;
    width: 260px;
    margin:25px auto;
    /* text-align:center; */
}
label span{
    font-size: 14px;
    font-weight: 600;
    color:#505;
}

input{
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    font-size: 16px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109,93,93,0.4);
    /* text-align:center; */
    font-family: 'Nunito', sans-serif;
}

button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 40px;
    border-radius:30px;
    color: #fff;
    font-size:15px;
    cursor: pointer;
}

.submit{
    margin-top: 40px;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: 'Nunito',sans-serif;
    background: -webkit-linear-gradient(left,#75ffff, #afdbbc
    );
}

.submit:hover{
    background: green;
}
.forgot-pass{
    margin-top: 0px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color:rgb(0, 128, 255);
    cursor:pointer;
}
.forgot-pass:hover{
    color:rgb(34, 0, 255)
}
.container #other{
    text-indent: 100px;
}
.container #sso{
    background-color: white;
    width: 400px;
    height: 30px;
    margin-top: 10px;
    color: black;

}
.container #sso:hover{
    background-color:lightgreen;
}

.social-media{
    width:100%;
    text-align: center;
    margin-top: 20px;

}
.social-media ul{
    list-style: none;

}
.social-media ul li{
    display: inline-block;
    cursor: pointer;
    margin: 25px 20px;

}
.social-media img{
    width: 40px;
    height: 40px;

}
.social-media p{
    display: inline-block;
    margin-right: 20px;
    margin-top: 0px;
}